<h1>Add dealerships</h1>

  <p>Add a dealership here:</p>

  <form action="/dealerships" method="post">
    <label for="name">Dealership's name:</label>
    <input id="name" name="name" type="text">
    <button type="submit">Add Dealership</button>
  </form>